<div style="background-color:#ccc;"><IF name="is_guild">
	<div class="pagetitle">Настройки гильдий, рейдов<!-- и фирм--></div>
	<form method="post" action="" style="padding:10px;float:left;" onsubmit="return checkName('guild');">
		Создать гильдию:
		<input id="new_guild" name="new" placeholder="Введите название" required />
		<input type="submit" value="Создать">
		<input type="hidden" name="action" value="create_guild" />
	</form><IF name="is_glist">
	<form method="post" action="" style="padding:10px;float:left;" onsubmit="return checkName('raid');">
		Создать рейд:
		<input id="new_raid" name="new" placeholder="Введите название" required />
		<select id="guild_raid_id" name="guild" required>
			<option value=""></option><LOOP name="glist">
			<option value="{GID}">{GUILD_NAME}</option></LOOP name="glist">
		</select>
		<input type="submit" value="Создать">
		<input type="hidden" name="action" value="create_raid" />
	</form>
	<!--<form method="post" action="" style="padding:10px;float:left;" onsubmit="return checkName('firm');">
		Создать фирму:
		<input id="new_firm" name="new" placeholder="Введите название" required />
		<select id="guild_firm_id" name="guild" required>
			<option value=""></option><LOOP name="glist">
			<option value="{GID}">{GUILD_NAME}</option></LOOP name="glist">
		</select>
		<input type="submit" value="Создать">
		<input type="hidden" name="action" value="create_firm" />
	</form>--></IF name="is_glist">
	<div style="clear:both;"></div>
	<div style="padding:10px;"><IF name="is_glist">
		<table style="width:100%;" class="tborder">
			<tr align="center" class="tcat">
				<td>Название гильдии</td>
				<td style="width:25%;">Действие</td>
			</tr><LOOP name="glist">
			<tr>
				<td><input id="guild_{GID}" value="{GUILD_NAME}" style="width:98%;" /></td>
				<td>
					<a style="cursor:pointer;" onclick="save('guild', {GID});">Сохранить название</a>
					<a style="cursor:pointer;" onclick="del('guild', {GID});">Удалить</a>
				</td>
			</tr>
			<tr{DISPLAY}>
				<td colspan="2" align="center">
					<table style="width:90%;">
						<tr align="center">
							<td>Название</td>
							<!--<td width="10%">Тип</td>-->
							<td width="25%">Действие</td>
						</tr><LOOP name="unit_{GID}">
						<tr>
							<td><input id="unit_{UID}" value="{UNIT_NAME}" style="width:98%;" /></td>
							<!--<td>{UNIT_TYPE}</td>-->
							<td>
								<a style="cursor:pointer;" onclick="save('unit', {UID});">Сохранить название</a>
								<a style="cursor:pointer;" onclick="del('unit', {UID});">Удалить</a>
							</td>
						</tr></LOOP name="unit_{GID}">
					</table>
				</td>
			</tr></LOOP name="glist">
		</table>
		<form id="form_submit" method="post" action="">
			<input id="form_action" name="action" type="hidden" value="" />
			<input id="form_name" name="form_name" type="hidden" value="" />
			<input id="form_id" name="form_id" type="hidden" value="" />
		</form>
		<script type="text/javascript">
		function del(type, id)
		{
			if (!confirm('Подтвердите удаление')) return;
			
			document.getElementById('form_action').value = 'delete_'+type;
			document.getElementById('form_id').value = id;
			document.getElementById('form_submit').submit();
		}
		
		function save(type, id)
		{
			var name = document.getElementById(type+'_'+id).value.replace(/^\s+/, '').replace(/\s+$/, '');
			if (name=='') return;
			
			document.getElementById('form_name').value = name;
			document.getElementById('form_action').value = 'save_'+type;
			document.getElementById('form_id').value = id;
			document.getElementById('form_submit').submit();
		}
		
		function checkName(type)
		{
			var input = document.getElementById('new_'+type).value.replace(/^\s+/, '').replace(/\s+$/, '').value == '', select;
			if (type == 'guild')
				return !input;
			else {
				select = document.getElementById('guild_'+type+'_id').value == '';
				return !(input || select);
			}
		}
		</script></IF name="is_glist">
	</div></IF name="is_guild"><IF name="is_roster">
	<style type="text/css">
	.float_left {
		float:left;
		width:50%;
	}
	.block {
		border:4px ridge #000;
		margin:10px 0;
	}
	.header {
		background:url(../cpstyles/vBulletin_3_Silver/cp_tblhead_bg.gif) repeat-x #aeacb9;
		text-align:center;
		font-weight:bold;
		font-size:9pt;
	}
	.body {
		max-height:500px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.footer {
		background:#dee0e2;
		text-align:center;
		color:#001f30;
	}
	.clear {
		clear:both;
	}
	.link {
		cursor:pointer;
	}
	</style>
	<div class="pagetitle">Назначение пользователей в сообщество, гильдию, рейд<!-- и крафт--></div>
	<div style="padding:10px;"><IF name="is_undecided">
		<form method="post" action="" class="block">
			<div class="header">
				<div class="link" onclick="getUsers(this, -1);">Список не принятых игроков в сообщество</div>
				<div style="display:none;">
					<div class="float_left">Ник</div>
					<div class="float_left">Действие</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="body" style="display:none;"><div class="clear"></div></div>
			<div class="footer" style="display:none;">
				<input type="submit" value="Сохранить" />
			</div>
			<input type="hidden" name="action" value="approve_users" />
		</form></IF name="is_undecided"><IF name="is_approved">
		<form method="post" action="" class="block">
			<div class="header">
				<div class="link" onclick="getUsers(this, 0);">Список принятых игроков в сообщество</div>
				<div style="display:none;">
					<div class="float_left">Ник</div>
					<div class="float_left">Действие</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="body" style="display:none;"><div class="clear"></div></div>
			<div class="footer" style="display:none;">
				<input type="submit" value="Сохранить" />
			</div>
			<input type="hidden" name="action" value="invite_users" />
		</form></IF name="is_approved"><LOOP name="g_list">
		<form method="post" action="" class="block">
			<div class="header">
				<div class="link" onclick="getUsers(this, {GID});">Список игроков гильдии {GUILD_NAME}</div>
				<div style="display:none;">
					<div class="float_left">Ник</div>
					<div class="float_left">Действие</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="body" style="display:none;"><div class="clear"></div></div>
			<div class="footer" style="display:none;">
				<input type="submit" value="Сохранить" />
			</div>
			<input type="hidden" name="action" value="change_users" />
			<input type="hidden" name="gid" value="{GID}" />
		</form></LOOP name="g_list">
	</div>
	<script type="text/javascript">
	function createList(obj, text)
	{
		var data;
		try {
			data = JSON.parse(text);
		} catch (e) {
			try {
				data = eval('('+text+')');
			} catch (e) {
				alert('Не удалось обработать данные');
				return;
			}
		}
		
		for (var p in data.data) {
			var div = document.createElement('div');
			div.className = 'float_left';
			div.innerHTML = data.data[p].user;
			obj.insertBefore(div, obj.lastChild);
			div = document.createElement('div');
			div.className = 'float_left';
			var html;
			switch (data.gid) {
				case -1:
					html = '<input id="appr" type="radio" name="user['+p+']" value="approve" /> <label for="appr">Принять</label>';
					html += ' <input id="den" type="radio" name="user['+p+']" value="denied" /> <label for="den">Отказать</label>';
					break;
				case 0:
					html = '<select name="user['+p+']">';
					html += '<option value="0">Гильдии</option>';
					html += '<option value="-1">Исключить из сообщества</option>';<LOOP name="glist">
					html += '<option value="{GID}">Принять в {GUILD_NAME}</option>';</LOOP name="glist">
					html += '</select> ';
					break;
				default:
					html = '<select name="user['+p+']">';
					html += '<option value="0">Гильдии</option>';
					html += '<option value="-1">Исключить из сообщества</option>';
					var text;<LOOP name="glist">
					text = {GID} == data.gid ? 'Исключить из': 'Перевести в';
					html += '<option value="{GID}">'+text+' {GUILD_NAME}</option>';</LOOP name="glist">
					html += '</select>';
					html += '<select name="user_raid['+p+']">';
					html += '<option value="0">Рейды</option>';<LOOP name="glist"><LOOP name="runit_{GID}">
					text = {UID} == data.data[p].rid ? 'Исключить из': 'Перевести в';
					if (data.gid == {GID})
						html += '<option value="{UID}">'+text+' {UNIT_NAME}</option>';</LOOP name="runit_{GID}"></LOOP name="glist">
					html += '</select> ';
					html += '<input type="hidden" name="rid['+p+']" value="'+data.data[p].rid+'"/>';
					//html += '<input type="hidden" name="fid['+p+']" value="'+data.data[p].fid+'"/>';
					//html += '<select name="user_firm['+p+']">';
					//html += '<option value="0">Фирмы</option>';
					//html += '<option value="'+(typeof(data.data[p].fid) != 'number' || data.data[p].fid > 0 ? 'not':-1)+'">'+(typeof(data.data[p].fid) != 'number' || data.data[p].fid > 0 ? 'Независимый крафтер':'Не крафтер')+'</option>';<LOOP name="glist"><LOOP name="funit_{GID}">
					//text = {UID} == data.data[p].fid ? 'Исключить из': 'Перевести в';
					//if (data.gid == {GID})
					//	html += '<option value="{UID}">'+text+' {UNIT_NAME}</option>';</LOOP name="funit_{GID}"></LOOP name="glist">
					//html += '</select> ';
					html += '<select name="rank['+p+']" >';<LOOP name="rlist">
					html += '<option value="{RANK_INDEX}"'+(data.data[p].rank == {RANK_INDEX} ? 'selected' : '')+'>{RANK_NAME}</option>';</LOOP name="rlist">
					html += '</select> ';
					html += '<input type="hidden" name="rank_old['+p+']" value="'+data.data[p].rank+'"/>';
			}
			div.innerHTML = html;
			obj.insertBefore(div, obj.lastChild);
		}
		
		if (data.offset < data.total)
			request('', 'post', 'action=get_users&offset='+data.offset+'&gid='+data.gid, {obj:obj, func:createList});
	}
	
	function getUsers(obj, gid)
	{
		var hidden = obj.nextElementSibling.style.display != 'none';
		obj.nextElementSibling.style.display = hidden ? 'none' : 'block';
		obj = obj.parentNode.nextElementSibling;
		obj.style.display = hidden ? 'none' : 'block';
		obj.nextElementSibling.style.display = hidden ? 'none' : 'block';
		
		if (obj.innerHTML == '<div class="clear"></div>' && !hidden)
			request('', 'post', 'action=get_users&offset=0&gid='+gid, {obj:obj, func:createList});
	}
	
	function request(url, type, post, func)
	{
		var httpRequest;
		try {
			httpRequest = new XMLHttpRequest();
		} catch (e) {
			try {
				httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
			} catch (e) {
				try {
					httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
				} catch (e) {
					alert('Не возможно отправить запрос');
					return;
				}
			}
		}
		
		httpRequest.open(type, url, true);
		if (type.toLowerCase() == 'post')
			httpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		
		httpRequest.onreadystatechange = function()
		{
			if (httpRequest.readyState == 4)
				if (httpRequest.status == 200)
					func.func(func.obj, httpRequest.responseText);
				else
					alert('Запрос вернул код: '+httpRequest.status);
		}
		
		httpRequest.send(post);
	}
	
	</script></IF name="is_roster">
</div>
